{% extends 'pagina_de_usuario.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Servico</title>
    <link href="{% static 'img/ICON.png' %}" rel="icon">
    <link href="{% static 'img/ICON.png' %}" rel="apple-touch-icon">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'inicio' %}">
        <img src="{% static 'img/ICON.png' %}" alt="logohospital" width="30" height="30"> SUS-CONNECTION</a>
</nav>
{% block 'dashboard2' %}
    <main id="main" class="main">
        <div class="container mt-4">
            <br>
            <h1 class="text-center">Excluir vacina </h1>
            <form  class="mt-4" method="POST" >
                {% csrf_token %}
                <div class="alert alert-danger" role="alert">
                    Deseja excluir a Vacina? Ao clicar em excluir, todos os dados cadastrados serão excluidos.
                  </div> 
                        <input type="submit" class="btn btn-danger" value="Excluir">
                    <br>
                </div>
            </form>
            <br>
    </main>
{% block 'noticias' %}
{% endblock %}
{% endblock %}
{% block 'footer' %}
{% endblock %}
</html>
