{% extends 'pagina_de_usuario.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
    <link href="{% static 'img/ICON.png' %}" rel="icon">
    <link href="{% static 'img/ICON.png' %}" rel="apple-touch-icon">
</head>
<body>
{% block 'dashboard2' %}
    <main id="main" class="main">
        <div class="container mt-4">
            <br>
            <h1 class="text-center">Lista de Vacinas registradas no sistema</h1>
            <br>
            <br>
            <br>
            <br>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Vacina</th>
                        <th scope="col">Disponibilidade</th>
                        {% if user.groups.all.0.name == "funcionários" %}
                            <th scope="col">Opções</th>
                        {% else %}
                            <th scope="col">Unidades em que a vacina está disponível</th>
                        {% endif %}
                    </tr>
                    {% for Vacinas in vacinas %}
                    <tr>
                        <td>{{ Vacinas.nome }}</td>
                        {% if Vacinas.disponivel == True %}
                            <td><span>Disponível</span></td>
                        {% else %}
                            <td><span >Indisponível</span></td>
                        {% endif %}
                        <td>
                            {% if user.groups.all.0.name == "funcionários" %}
                                <a href="{% url 'editar-vacinas' Vacinas.pk %}" class="btn btn-warning btn-sm">Editar</a>
                                <a href="{% url 'excluir-vacinas' Vacinas.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                            {% else %}
                                {% for j in Vacinas.ubs.all %}
                                ,
                                {{ j }}
                                {% endfor %} 
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    {% empty %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
{% block 'noticias' %}
{% endblock %}
{% endblock %}
{% block 'footer' %}
{% endblock %}     
</body>
</html>